/* Setting full view point to be used */
html, body, #root {
  height: 100%;
  width: 100%;
}

body{
    background-color: #0b1a33de;
}

/* Making the Header Bar fixed even if you scroll down */
.header-bar{
    background-color: #050b1a;
    border-bottom: 1px solid rgb(255, 255, 255);
    position: fixed;
    top: 0;
    width: 100%;
    height: 5vh;
}


.header-bar .nav-link {
  color: #ffffff;
  font-weight: bold;
}

/* Navbar is fixed currently, so setting padding to be the size of the navbar */
.page-section{
  padding-top: 5vh;
  width: 100%;
  }


/* Home Page Formatting */
.home-page-title{
  text-align: center;
  color: #ffffff;
  font-weight: "bold";
}

.home-page-details{
  align-items: center;
  margin-top: 125px;
}

/* First column with information formatting */
.details-box {
  display: inline-block;
  padding: 10px 10px;
  color: #ffffff;

  border: 1px solid #ffffff;
  border-radius: 4px;
}

.home-text-custom{
  color: bisque;
}